:root {
    --gray5: #546071;
    --gray4: #455161;
    --gray3: #364252;
    --gray2: #263242;
    --gray1: #172332;
}
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.lexend {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body {
    background-color: var(--gray1);
}

.main_c {
    background-color: var(--gray2);
    color: var(--gray5);
    margin: 0px 150px 0px 150px;
    padding: 0px 5px 10px 5px;
    border-radius: 10px;
    text-align: center;
}
.bio_c {
    background-color: var(--gray3);
    margin: 0px 150px 0px 150px;
    border-radius: 5px;
    padding-bottom: 5px;
}
.bio.title {
    font-size: 50px;
}
.title {
    font-size: 70px;
}
.proj_title {
    font-size: 25px;
    color: var(--gray2);
}
.proj_p {
    color: var(--gray2);
}
.proj_link {
    font-size: 20px;
    margin-top: auto;
    text-decoration: bold;
    color: var(--gray2);
}
.bio {
    color: var(--gray2);
}
p.bio {
    margin: 0px 20px 10px 20px;
    text-align: justify;
}
.projs_c {
    display: grid;
    align-items: stretch;
    justify-content: center;
    background-color: var(--gray3);
    margin-top: 10px;
    border-radius: 10px;
    row-gap: 10px;
    column-gap: 50px;
    grid-template-columns: 450px 450px;
}
.proj_c {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    border-radius: 10px;
    margin: 20px;
    background-color: var(--gray4);
    padding: 20px 20px 20px 20px;
}

.swiper-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.swiper-slide {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    border-radius: 10px;
}

.slide-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.slide-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* ou 'contain' dependendo do efeito desejado */
    border-radius: 10px;
}

.no-images-message {
    text-align: center;
    padding: 20px;
    color: #666;
}

/* Estilos para navegação e paginação */
.swiper-button-next,
.swiper-button-prev {
    color: var(--gray5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.swiper-pagination-bullet {
    background: white;
    opacity: 0.6;
}

.swiper-pagination-bullet-active {
    background: var(--gray1);
    opacity: 1;
}
